miolo20/modules/finance/webservices/wsdl-finance.xml

<?xml version='1.0' encoding='UTF-8'?>
<!-- WSDL file generated by PHP WSDLCreator (http://www.protung.ro) -->
<definitions name="SAGU" targetNamespace="urn:SAGU" xmlns:typens="urn:SAGU" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <message name="receiptsForPayment">
        <part name="idTituloSagu" type="xsd:integer"></part>
        <part name="valorTotal" type="xsd:float"></part>
        <part name="valorPago" type="xsd:float"></part>
        <part name="valor" type="xsd:float"></part>
    </message>
    <message name="receiptsForPaymentResponse">
        <part name="receiptsForPaymentReturn" type="xsd:boolean"></part>
    </message>
    <message name="setInvoiceImported">
        <part name="invoiceId" type="xsd:integer"></part>
        <part name="isImported" type="xsd:boolean"></part>
    </message>
    <message name="setInvoiceImportedResponse">
        <part name="setInvoiceImportedReturn" type="xsd:boolean"></part>
    </message>
    <message name="wsSearchIncomeForecast">
        <part name="incomeForecastId" type="xsd:anyType"></part>
        <part name="personId" type="xsd:anyType"></part>
        <part name="recorDate" type="xsd:anyType"></part>
        <part name="value" type="xsd:float"></part>
    </message>
    <message name="wsSearchIncomeForecastResponse">
        <part name="wsSearchIncomeForecastReturn" type="xsd:string"></part>
    </message>
    <message name="wsSearchInvoices">
        <part name="invoiceId1" type="xsd:integer"></part>
        <part name="personId1" type="xsd:integer"></part>
        <part name="emissionDate" type="xsd:string"></part>
        <part name="maturityDate" type="xsd:string"></part>
        <part name="value1" type="xsd:float"></part>
        <part name="isCanceled" type="xsd:boolean"></part>
        <part name="isImported1" type="xsd:boolean"></part>
    </message>
    <message name="wsSearchInvoicesResponse">
        <part name="wsSearchInvoicesReturn" type="xsd:string"></part>
    </message>
    <portType name="webServicesFinancePortType">
        <operation name="receiptsForPayment">
            <documentation>Funcao webservices que recebe confirmacoes de pagamento do DOXA</documentation>
            <input message="typens:receiptsForPayment"></input>
            <output message="typens:receiptsForPaymentResponse"></output>
        </operation>
        <operation name="setInvoiceImported">
            <documentation>Funcao que que registra se um titulo ja foi importado pelo sistema</documentation>
            <input message="typens:setInvoiceImported"></input>
            <output message="typens:setInvoiceImportedResponse"></output>
        </operation>
        <operation name="wsSearchIncomeForecast">
            <documentation>Funcao que retorna um vetor com as previsoes de lancamento</documentation>
            <input message="typens:wsSearchIncomeForecast"></input>
            <output message="typens:wsSearchIncomeForecastResponse"></output>
        </operation>
        <operation name="wsSearchInvoices">
            <documentation>Funcao que retorna um vetor contendo as informações dos titulos criados no sagu</documentation>
            <input message="typens:wsSearchInvoices"></input>
            <output message="typens:wsSearchInvoicesResponse"></output>
        </operation>
    </portType>
    <binding name="webServicesFinanceBinding" type="typens:webServicesFinancePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
        <operation name="receiptsForPayment">
            <soap:operation soapAction="urn:webServicesFinanceAction"></soap:operation>
            <input>
                <soap:body namespace="urn:SAGU" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
            </input>
            <output>
                <soap:body namespace="urn:SAGU" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
            </output>
        </operation>
        <operation name="setInvoiceImported">
            <soap:operation soapAction="urn:webServicesFinanceAction"></soap:operation>
            <input>
                <soap:body namespace="urn:SAGU" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
            </input>
            <output>
                <soap:body namespace="urn:SAGU" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
            </output>
        </operation>
        <operation name="wsSearchIncomeForecast">
            <soap:operation soapAction="urn:webServicesFinanceAction"></soap:operation>
            <input>
                <soap:body namespace="urn:SAGU" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
            </input>
            <output>
                <soap:body namespace="urn:SAGU" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
            </output>
        </operation>
        <operation name="wsSearchInvoices">
            <soap:operation soapAction="urn:webServicesFinanceAction"></soap:operation>
            <input>
                <soap:body namespace="urn:SAGU" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
            </input>
            <output>
                <soap:body namespace="urn:SAGU" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="SAGUService">
        <port name="webServicesFinancePort" binding="typens:webServicesFinanceBinding">
            <soap:address location="http://sagu2/webservices.php?module=finance&amp;class=webServicesFinance"></soap:address>
        </port>
    </service>
</definitions>
