miolo25/modules/gnuteca3/html/files/wsdl/gnuteca3WebServicesAutomacao.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="checkoutResponse">

      <wsdl:part name="checkoutReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="endPatronSessionRequest">

      <wsdl:part name="dateTime" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="instID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="patronID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="termID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="termPwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="patronPwd" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="renewAllRequest">

      <wsdl:part name="dateTime" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="instID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="patronID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="patronPwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="termID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="termPwd" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="statusRequest">

      <wsdl:part name="termID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="status" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="maxPtrWidth" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="protocol" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part name="termID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="pwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="location" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="renewRequest">

      <wsdl:part name="thdAllowed" type="xsd:boolean">

      </wsdl:part>

      <wsdl:part name="noBlock" type="xsd:boolean">

      </wsdl:part>

      <wsdl:part name="dateTime" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="nbDueDate" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="instID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="patronID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="patronPwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="itemID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="titleID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="termID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="termPwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="itemProp" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkinRequest">

      <wsdl:part name="noBlock" type="xsd:boolean">

      </wsdl:part>

      <wsdl:part name="dateTime" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="returnDate" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="currentLocation" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="instID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="itemID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="termID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="termPwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="itemProp" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="cancel" type="xsd:boolean">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="patronInfoRequest">

      <wsdl:part name="language" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dateTime" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="summary" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="instID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="patronID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="patronPwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="termID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="termPwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="startItem" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="endItem" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="renewResponse">

      <wsdl:part name="renewReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="renewAllResponse">

      <wsdl:part name="renewAllReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="statusResponse">

      <wsdl:part name="statusReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkinResponse">

      <wsdl:part name="checkinReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="patronInfoResponse">

      <wsdl:part name="patronInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="itemInformationRequest">

      <wsdl:part name="dateTime" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="instID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="itemID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="termID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="termPwd" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part name="loginReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkoutRequest">

      <wsdl:part name="renewalPolicy" type="xsd:boolean">

      </wsdl:part>

      <wsdl:part name="noBlock" type="xsd:boolean">

      </wsdl:part>

      <wsdl:part name="dateTime" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="nbDueDate" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="instID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="patronID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="itemID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="termID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="termPwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="itemProp" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="patronPwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="cancel" type="xsd:boolean">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="endPatronSessionResponse">

      <wsdl:part name="endPatronSessionReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="itemInformationResponse">

      <wsdl:part name="itemInformationReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="gnuteca3WebServicesAutomacao">

      <wsdl:operation name="login" parameterOrder="termID pwd location">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="endPatronSession" parameterOrder="dateTime instID patronID termID termPwd patronPwd">

         <wsdl:input message="impl:endPatronSessionRequest" name="endPatronSessionRequest">

       </wsdl:input>

         <wsdl:output message="impl:endPatronSessionResponse" name="endPatronSessionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkin" parameterOrder="noBlock dateTime returnDate currentLocation instID itemID termID termPwd itemProp cancel">

         <wsdl:input message="impl:checkinRequest" name="checkinRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkinResponse" name="checkinResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="itemInformation" parameterOrder="dateTime instID itemID termID termPwd">

         <wsdl:input message="impl:itemInformationRequest" name="itemInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:itemInformationResponse" name="itemInformationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="renew" parameterOrder="thdAllowed noBlock dateTime nbDueDate instID patronID patronPwd itemID titleID termID termPwd itemProp">

         <wsdl:input message="impl:renewRequest" name="renewRequest">

       </wsdl:input>

         <wsdl:output message="impl:renewResponse" name="renewResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="renewAll" parameterOrder="dateTime instID patronID patronPwd termID termPwd">

         <wsdl:input message="impl:renewAllRequest" name="renewAllRequest">

       </wsdl:input>

         <wsdl:output message="impl:renewAllResponse" name="renewAllResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="patronInfo" parameterOrder="language dateTime summary instID patronID patronPwd termID termPwd startItem endItem">

         <wsdl:input message="impl:patronInfoRequest" name="patronInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:patronInfoResponse" name="patronInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="status" parameterOrder="termID status maxPtrWidth protocol">

         <wsdl:input message="impl:statusRequest" name="statusRequest">

       </wsdl:input>

         <wsdl:output message="impl:statusResponse" name="statusResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkout" parameterOrder="renewalPolicy noBlock dateTime nbDueDate instID patronID itemID termID termPwd itemProp patronPwd cancel">

         <wsdl:input message="impl:checkoutRequest" name="checkoutRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkoutResponse" name="checkoutResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="gnuteca3WebServicesAutomacaoSoapBinding" type="impl:gnuteca3WebServicesAutomacao">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="endPatronSession">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="endPatronSessionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="endPatronSessionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkinRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="checkinResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="itemInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="itemInformationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="itemInformationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="renew">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="renewRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="renewResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="renewAll">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="renewAllRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="renewAllResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="patronInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="patronInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="patronInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="status">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="statusRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="statusResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkoutRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="checkoutResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="gnuteca3WebServicesAutomacaoService">

      <wsdl:port binding="impl:gnuteca3WebServicesAutomacaoSoapBinding" name="gnuteca3WebServicesAutomacao">

         <wsdlsoap:address location="http://localhost/saguteste/miolo25/html/webservices.php?module=gnuteca3&amp;action=main&amp;class=gnuteca3WebServicesAutomacao"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
